.cardLayout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    grid-auto-flow: row;
}

.cardWrapper {
    border: 1px solid black;
    margin: 1rem;
}